<template>
  <div class="landing">
    <b-navbar class="navbar" variant="faded" type="light">
      <b-navbar-brand class="navbar-image" style="color: #d6a73d" href="#">
        <img class="lnulogo" src="@/assets/image/lnulogo.svg" />
        <img class="lnulogo-bg" src="@/assets/image/logowithbg.svg" />
        Leyte Normal University
      </b-navbar-brand>
    </b-navbar>
    <section class="home-section">
      <div class="home">
        <div class="blob">
          <svg
            xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 310 350"
          >
            <path
              d="M156.4,339.5c31.8-2.5,59.4-26.8,80.2-48.5c28.3-29.5,40.5-47,56.1-85.1c14-34.3,20.7-75.6,2.3-111  c-18.1-34.8-55.7-58-90.4-72.3c-11.7-4.8-24.1-8.8-36.8-11.5l-0.9-0.9l-0.6,0.6c-27.7-5.8-56.6-6-82.4,3c-38.8,13.6-64,48.8-66.8,90.3c-3,43.9,17.8,88.3,33.7,128.8c5.3,13.5,10.4,27.1,14.9,40.9C77.5,309.9,111,343,156.4,339.5z"
            />
          </svg>
        </div>
        <div class="home-content-leftside">
          <p class="home-p">Announcement and</p>
          <h1 class="home-h1">Voting</h1>
          <p class="home-p2">System</p>
          <p class="home-description">
            This is the Voting and Announcement Portal of Leyte Normal
            University
          </p>
          <div class="home-loginbtn">
            <router-link to="/signup">
              <b-button style="background: #0d3e83; border-radius: 169.5px"
                >Login
              </b-button>
            </router-link>
          </div>
        </div>
        <div class="home-content-rightside">
          <img src="@/assets/image/undraw_podcast.svg" alt="" />
        </div>
      </div>
    </section>

    <!-- Voting Part -->

    <section class="vote-section">
      <div class="voting">
        <div class="voting-content-leftside">
          <img class="voting-blob" src="@/assets/image/voteblob.svg" alt="" />
          <img
            class="voting-blobresp"
            src="@/assets/image/undraw_voting.svg"
            alt=""
          />
        </div>
        <div class="voting-content-rightside">
          <h1 class="voting-h1">Vote</h1>
          <p class="vote-description">
            Vote and be updated on election <br />
            conducted at Leyte Normal University
          </p>
          <div class="voting-loginbtn">
            <b-button style="background: #0d3e83; border-radius: 169.5px"
              >Login
            </b-button>
          </div>
        </div>
      </div>
    </section>

    <!-- Notification Part-->

    <section class="notif-section">
      <div class="notif">
        <div class="notif-content-leftside">
          <h1 class="notif-h1">Notified</h1>
          <p class="notif-description">
            Be notified on Leyte Normal University’s <br />
            latest news and activities
          </p>
          <div class="notif-loginbtn">
            <b-button style="background: #0d3e83; border-radius: 169.5px"
              >Login
            </b-button>
          </div>
        </div>
        <div class="notif-content-rightside">
          <img class="notif-img" src="@/assets/image/undraw_notif.svg" alt="" />
        </div>
      </div>
    </section>

    <section class="footer">
      <div class="image">
        <img class="img-fluid" src="../assets/image/lnufooter.svg" alt="" />
      </div>
      <div class="container">
        <div class="container-footer">
          <div class="foot">
            <div class="row">
              <div class="col-sm">
                <h3 class="footer-text" style="color: #636060">
                  Contact<br />
                </h3>
                <p>
                  Leyte Normal University
                  <br />Paterno Street <br />Tacloban City <br />6500 <br />+63
                  (53) 832 3205 <br />info@lnu.edu.ph
                  <br />www.facebook.com/lnuofficial
                </p>
              </div>
              <div class="col-sm">
                <h3 class="footer-text" style="color: #636060">Home<br /></h3>
                <p>
                  Leyte Normal University or simply LNU <br />
                  is a public university in the Philippines
                </p>
              </div>
              <div class="col-sm">
                <h3 class="footer-text" style="color: #636060">
                  Mission<br />
                </h3>
                <p>
                  To produce top performing professionals <br />
                  equiped to engage on knowledge and<br />
                  technology production so necessary <br />
                  to develop a sustainable society
                </p>
                <h3 class="footer-text" style="color: #636060">Vision<br /></h3>
                <p>
                  A leading university of education and <br />
                  diverse disciplines attuned to local <br />
                  and global development needs
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<style>
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.blob {
  position: absolute;
  top: 0;
  left: 0;
  fill: #050b75;
  width: 20rem;
  z-index: -1;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move {
  0% {
    transform: scale(1) translate(10px, 50vh) rotate(-20deg);
  }

  80% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(160deg);
  }
  100% {
    transform: scale(1) translate(10px, 50vh) rotate(-20deg);
  }
}
.img-fluid {
  left: 0%;
}

.footer {
  padding-top: 5%;
}

.home {
  display: flex;
  background: linear-gradient(
    239.74deg,
    #070372 31.58%,
    rgba(7, 3, 114, 0) 460.49%
  );
  height: 90vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.homeblob {
  top: 1rem;
}

.home-content-leftside {
  flex: 1 1 45rem;
}

.home-content-rightside {
  flex: 1 1 45rem;
}

.home-content-rightside .home-image {
  flex: 1 1 45rem;
}

.home-content-rightside img {
  width: 100%;
}

.home-description {
  font-family: Poppins;
  font-style: normal;
  color: aliceblue;
  padding-left: 3%;
}

.home-p {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 2.2rem;
  padding-left: 3%;
  color: #d6a73d;
}
.home-h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  font-size: 9.063rem;
  line-height: 7rem;
  padding-left: 3%;
  color: aliceblue;
}
.home-p2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  font-size: 2.688rem;
  line-height: 1rem;
  padding-left: 3%;
  color: rgba(255, 255, 255, 0.4);
}

.home-content-leftside .home-loginbtn {
  padding-left: 3%;
}

.footer .image img {
  padding-left: 5%;
}

.footer-text {
  font-family: Poppins;
}

.container-footer p {
  font-family: Poppins;
  color: #958c8c;
}

.navbar {
  color: #d6a73d;
  background: #050b75;
}

.navbar .lnulogo {
  display: none;
}

.navbar .navbar-image {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  color: #d6a73d;
  font-size: 1.688rem;
}

.navbar-image {
  color: #d6a73d;
}

.notif {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: center;
  padding-top: 5%;
  flex-wrap: wrap;
}

.notif-description {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  padding-left: 5%;
  color: #0e201a;
}

.notif-img {
  width: 80%;
}
.notif .notif-content-leftside .notif-h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 6.313rem;
  color: #000000;
  padding-left: 5%;
}

.notif-content-leftside {
  flex: 1 1 45rem;
}

.notif-loginbtn {
  padding-left: 5%;
}

.notif-content-rightside {
  flex: 1 1 45rem;
  width: 90%;
}

.notif-content-rightside img {
  width: 100%;
}

.voting {
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: center;
  flex-wrap: wrap;
}

.voting-blobresp {
  display: none;
}

.vote-description {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 0.938rem;
  color: #0e201a;
}

.voting-h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 6.313rem;
  color: #000000;
}

.voting-content-leftside {
  flex: 1 1 45rem;
}

.voting-content-rightside {
  flex: 1 1 45rem;
  padding-left: 5%;
}

.voting-content-leftside img {
  width: 100%;
}

@media screen and (max-width: 1456px) {
  .home-content-rightside {
    display: none;
  }
}

@media screen and (max-width: 1050px) {
  .container {
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  form {
    width: 290px;
  }

  .login-content h2 {
    font-size: 2.4rem;
    margin: 0.5rem 0;
  }
}

@media screen and (max-width: 900px) {
  .landing {
    font-size: 55%;
  }
  .container {
    grid-template-columns: 1fr;
    top: 1rem;
  }
  .home-h1 {
    font-size: 6.5rem;
    line-height: 4rem;
  }
  .home-p {
    font-size: 2rem;
  }
  .home-p2 {
    font-size: 2.5rem;
    padding-left: 5%;
  }
  .navbar .lnulogo {
    display: initial;
  }
  .lnulogo-bg {
    display: none;
  }
  .footer .image img {
    padding-left: 0rem;
  }
  .lnulogo {
    padding-left: 1.5%;
  }
  .notif .notif-content-leftside .notif-description {
    align-content: center;
  }
  .notif .notif-content-leftside .notif-h1 {
    padding-left: 1%;
  }
  .notif-content-rightside {
    padding: 2%;
  }
  .blob {
    display: none;
  }
  .voting-blob {
    display: none;
  }
  .voting-blobresp {
    padding: 2%;
    display: grid;
    padding-top: 8%;
  }
}

@media (max-width: 768px) {
  .navbar .navbar-image {
    font-size: 1.4rem;
  }
  .voting-blob {
    display: none;
  }
  .voting-blobresp {
    display: flex;
    padding-top: 8%;
  }
}
@media (max-width: 450px) {
  .notif .notif-content-leftside .notif-h1 {
    font-size: 3.5rem;
  }
  .voting-h1 {
    font-size: 3.8rem;
  }
  .home-h1 {
    font-size: 5.5rem;
  }
  .notif-loginbtn {
    padding-left: 2%;
  }
}
@media (max-height: 450px) {
  .home-content-rightside {
    display: none;
  }
}

@media (max-height: 668px) {
  .home-content-rightside {
    display: none;
  }
  .notif-content-rightside {
    size: 40%;
  }
}
</style>
