<template>
  <div class="update">
    <img class="update-blob" src="@/assets/image/updateblob.svg" />
    <img class="update-blob2" src="@/assets/image/sideblob2.svg" />
    <div class="update-bar">
      <img class="lnulogo-bg" src="@/assets/image/logowithbg.svg" />
      <img class="lnulogo" src="@/assets/image/lnulogo.svg" />
      Leyte Normal University
      <div class="update-title">Update your Account</div>
      <div class="cont">
        <div class="container">
          <div class="content">
            <form action="#">
              <div class="user-details">
                <div class="input-box">
                  <input type="email" placeholder="Email" required />
                </div>
                <div class="input-box">
                  <b-form-select
                    v-model="selected"
                    :options="options"
                    class="update-college"
                  ></b-form-select>
                  <div>
                    <strong>{{ selected }}</strong>
                  </div>
                </div>
                <div class="input-box">
                  <b-form-select
                    v-model="course"
                    :options="courses"
                    class="update-college"
                  ></b-form-select>
                  <div>
                    <strong>{{ course }}</strong>
                  </div>
                </div>
                <div class="input-box">
                  <b-form-select
                    v-model="year"
                    :options="years"
                    class="update-college"
                  ></b-form-select>
                  <div>
                    <strong>{{ year }}</strong>
                  </div>
                </div>
              </div>
            </form>
            <div class="update-btn">
              <b-button style="background: #070372; font-size: 1.5rem" pill
                >Update</b-button
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="update-content-rigthside">
      <img class="update-blob-design1" src="@/assets/image/blobdesign.svg" />
      <img
        class="update-blob-design2"
        src="@/assets/image/blobdesign2.svg"
        style="float: right"
      />
      <h1 class="update-rigthside-h1">New Semester?</h1>
      <h6 class="update-rigthside-h6">
        Update your account to continue <br />
        an awesome experience with this app
      </h6>
      <div class="update-loginbtn">
        <b-button
          style="background: #eaeaea; color: #000000; border-radius: 169.5px"
          >Home
        </b-button>
      </div>
    </div>
  </div>
</template>
<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.update {
  background: rgba(203, 203, 203, 0.4);
}
h1,
h6 {
  font-family: Poppins;
  color: aliceblue;
}

.update-btn {
  display: flex;
  justify-content: center;
  padding-top: 10%;
}
.update-loginbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
}
.update-content-rigthside {
  position: relative;
  background: linear-gradient(
    178.12deg,
    #070372 53.07%,
    rgba(7, 3, 114, 0) 245.51%
  );
  left: 65%;
  width: 35%;
  height: 100vh;
}

.update-blob2 {
  position: absolute;
  z-index: 1;
  align-content: center;
  left: 0%;
  bottom: 0%;
}

.update-content-leftside {
  width: 50%;
}
.update-blob {
  position: absolute;
  z-index: 1;
  align-content: center;
  right: 0%;
  top: 0%;
}
.update-blob-design1 {
  position: absolute;
  left: 0px;
  top: 5%;
  z-index: 1;
}

.update-blob-design2 {
  position: absolute;
  z-index: 1;
  justify-content: right;
  align-content: center;
  right: 0%;
  bottom: 0%;
}
.lnulogo {
  display: none;
}

.update-bar {
  font-family: Poppins;
  font-weight: 700;
  font-size: 2rem;
  color: #070372;
  position: absolute;
  z-index: 1;
  justify-content: left;
  align-content: center;
  left: 0%;
  top: 0%;
  width: 65%;
}

.update-rigthside-h1 {
  font-weight: bold;
  text-align: center;
  padding-top: 55%;
  font-size: 3rem;
}

.update-rigthside-h6 {
  text-align: center;
}

.update-title {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 5%;
  text-align: center;
  color: #000;
  font-size: 3.438rem;
}
.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
.update-college,
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;

  background: rgba(13, 62, 131, 0.25);
  border-radius: 100px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #d6a73d;
}
form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}
form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .user-details {
    max-height: 300px;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}
@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}
</style>
<script>
export default {
  data() {
    return {
      selected: null,
      options: [
        { value: null, text: "College", disabled: true },
        { text: "CAS" },
        { text: "COE" },
        { text: "CME" },
      ],
      year: null,
      years: [
        { value: null, text: "Year", disabled: true },
        { text: "1" },
        { text: "2" },
        { text: "3" },
        { text: "4" },
      ],
      course: null,
      courses: [
        { value: null, text: "Course", disabled: true },
        { text: "1" },
        { text: "2" },
        { text: "3" },
        { text: "4" },
      ],
    };
  },
};
</script>
